/* General */
* { box-sizing: border-box; }

:root {
  --color-light-0: #fff;
  --color-light-1: #2f0d46ec; /* fallback for old browsers */
  --gradient-webkit: -webkit-linear-gradient(to bottom,  #03001ec0,#7403c0b9, #aa2988cc, #7403c0cb, #03001ec4);  /* Chrome 10-25, Safari 5.1-6 */
  --gradient-linear: linear-gradient(to bottom, #03001ea4, #7403c0b6, #aa2988bb, #7403c0be, #03001ec2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  --secoundary-button: #7403c0be;


  --color-light-2: #636B97;
  --color-medium-1: #9D6F6F;
  --color-medium-2: #4C4451;
  --color-medium-3: #03001e;
  --color-dark-1: #162853;
  --color-dark-2: #02030E;

  /* .color1 {color: #00385d;}
.color2 {color: #00385d;}
.color3 {color: #7861a9;}
.color4 {color: #d280d8;}
.color5 {color: #ffa7ff;} */

  --yellow: #EECC75;
  --green: #CAD297;
  --aqua: #B7EAC5;
  --lightBlue: #A2EEE5;
  --darkBlue: #8EA2EA;
  --red: #F09D9D;
  --blue: #164EBA;
  --bluecomp:#395387;
  --blueComp2: #05CEED;
  --orangeComp3: #EF7541;
  --orangeComp4: #BA2F16;

  --font-family-titles: 'Dosis', sans-serif;
  --font-family-text: 'Red Hat Display', sans-serif;
  --font-weight-title1: 800;
  --font-weight-title2: 700;
  --font-weight-text1: 400;
  --font-weight-text2: 500;
}

html {
  background-color: var(--color-medium-3);
}

body {
  background: var(--color-light-1);
  background: var(--gradient-webkit);
  background: var(--gradient-linear);
  color: var(--color-dark-2);
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-text1);
  font-size: 16px;
  margin: 4px auto;
  padding: 0;
  max-width: 600px;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-size: 24px;
  color: var(--color-dark-2);
  font-family: var(--font-family-titles);
  font-weight: var(--font-weight-title1);
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 18px;
  color: var(--color-light-0);
  font-weight: var(--font-weight-title2);
}

h3 {
  color: var(--color-light-0);
  font-weight: var(--font-weight-text2);
  font-size: 16px;
}

input {
  background-color: var(--color-light-2);
  color: var(--color-light-0);
  border: none;
  font-size: 18px;
  padding-left: 16px;
}

input::placeholder {
  color: var(--color-medium-1);
  font-family: var(--font-family-text);
}

button {
  background-color: var(--secoundary-button);
  border: none;
  color: var(--color-light-2);
  font-weight: var(--font-weight-text2);
  font-size: 14px;
  cursor: pointer;
}


/* Shared */
.header-container, .trendingPreview-header, .categoriesPreview-container, .liked-header{
  padding: 0 24px;
}

.trendingPreview-container, .categoriesPreview-container, footer, .liked-container {
  margin-top: 48px;
}

.trendingPreview-header, .categoriesPreview-title, .liked-header {
  margin-bottom: 24px;
}

.movie-container {
  cursor: pointer;
  position: relative;
}

.movie-img {
  border-radius: 8px;
  justify-self: center;
  
}
.movie-btn{
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}
.movie-btn::before{
  content: '💜';
}

.movie-btn--liked::before{
  content: '🤍';
}
.movie-btn-id{
  position: absolute;
  top: -20px;
  right: 20px;

  background-color: var(--secoundary-button);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: 20px;
}
.movie-btn-id::before{
  content: '💜';
}
.movie-btn-id--liked::before{
  content: '🤍';
}
.icon-search:hover{
  color: white;
}
.categoriesPreview-list, .categories-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
}


/* Header */
.header-container {
  padding-top: 20px;
}

.header-container--long {
  /* background-image: url('https://pics.filmaffinity.com/Deadpool-777527803-large.jpg'); */
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 19.27%, rgba(0, 0, 0, 0) 29.17%), url(https://visioncanaria.com.uy/beneficios/?page=5);
  background-size: cover !important;
  height: 550px;
  position: fixed;
  top: 0;
  width: 100%;
}

.header-container--categoryView {
  background: linear-gradient(180deg, rgba(238, 204, 117, 0.5) 0%, rgba(238, 204, 117, 0) 72.92%);
} 

.header-title {
  text-align: center;
  color: var(--color-light-0);
  /* margin-bottom: 16px;
  margin-left: 40px;
  margin-top: 10px; */
}

.header-arrow {
  position: fixed;
  font-weight: var(--font-weight-text2);
  background-color: var(--color-light-0);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 36px;
  margin-bottom: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-arrow--white {
  color: var(--color-dark-1);
}

.header-searchForm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: nowrap;
  margin-top: 50px;
}

.header-searchForm input {
  height: 48px;
  width: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.header-searchForm button {
  width: 56px;
  height: 48px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}


/* Trending */
.trendingPreview-header,
.liked-header
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trendingPreview-btn {
  border-radius: 8px;
  height: 32px;
  color: var(--color-light-0);
}

.trendingPreview-movieList, .liked-movielist,
.liked-movielist {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 241px;
  padding-left: 24px;
  padding-bottom: 16px;
}

.trendingPreview-movieList .movie-container {
  display: inline-block;
  margin-right: 8px;
}

.trendingPreview-movieList .movie-container .movie-img,
.liked-movieList .movie-container .movie-img{
  height: 225px;
  min-height: 225px;
  max-height: 225px;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
}
.movie-container {
  display: inline-block;
  margin-right: 8px;
  justify-self: center;}
.movie-container .movie-img {
  height: 225px;
  min-height: 225px;
  max-height: 225px;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
}

/* Categories */
.category-container {
  width: 45%;
}

.category-title {
  margin-bottom: 8px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.category-title::before {
  content: '••••';
  color: transparent;
  /* TODO: cambiar color por ID de la categoría */
  background-color: var(--idColor);
  border-radius: 8px;
  margin-right: 8px;
  width: 8px;
  height: 8px;
}
#id28 { --idColor: var(--yellow); }
#id12 { --idColor: var(--red); }
#id16 { --idColor: var(--green); }
#id35 { --idColor: var(--lightBlue); }
#id80 { --idColor: var(--darkBlue); }
#id99 { --idColor: var(--color-dark-1); }
#id18 { --idColor: var(--color-medium-1); }
#id10751 { --idColor: var(--blue); }
#id14 { --idColor: var(--red); }
#id36 { --idColor: var(--orangeComp4); }
#id27 { --idColor: var(--bluecomp); }
#id10402 { --idColor: var(--darkBlue); }
#id9648 { --idColor: var(--color-dark-1); }
#id10749 { --idColor: var(--color-medium-1); }
#id878 { --idColor: var(--orangeComp3); }
#id10770 { --idColor: var(--red); }
#id53 { --idColor: var(--green); }
#id10752 { --idColor: var(--lightBlue); }
#id37 { --idColor: var(--darkBlue); }


/* Generic List (search, trending & category) */
.genericList-container {
  /* display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; */

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 20px 20px;
    
  padding: 32px 24px;
}

.genericList-container .movie-container {
  display: inline-block;
  /* width: 47.5%; */
}

.genericList-container .movie-img {
  width: 100%;
}


/* Movie Detail */
.movieDetail-container {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 32px 24px;
  margin-top: 403px;
  z-index: 1;
  position: absolute;
  color: var(--color-light-0);
  background-color: var(--color-light-1);
  background: var(--gradient-linear);
}

.movieDetail-title {
  display: inline-block;
  width: 80%;
  margin: 0 0 16px 0;
  padding: 0;
  color: var(--color-light-0);
}

.movieDetail-score {
  display: inline-block;
  text-align: right;
  width: 18%;
  font-weight: var(--font-weight-title2);
}
.movieDetail-score::before {
  content: '★';
  color: var(--yellow);
  padding-right: 4px;
}

.movieDetail-description {
  margin: 0 0 24px 0;
}

.relatedmovies-container {
  margin-top: 20px;
  height: 216px;
}
.recommendedmovie-container{
  margin-top: 80px;
  height: 216px;
}

.relatedmovies-title {
  margin-bottom: 16px;
}

.relatedmovies-scrollcontainer{
  position: absolute;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: calc(100vw - 24px);
  padding-bottom: 16px;
}
.recommendedmovie-scrollcontainer{
  position: absolute;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: calc(100vw - 24px);
  padding-bottom: 16px;
}

.relatedmovies-scrollcontainer .movie-container {
  display: inline-block;
  margin-right: 8px;
}

.relatedMovies-scrollContainer .movie-img {
  width: 125px;
  min-width: 125px;
  max-width: 125px;
  height: 187.5px;
  min-height: 187.5px;
  max-height: 187.5px;
}
.skeleton{
  height: 225px;
  min-height: 225px;
  max-height: 225px;
  width: 150px;
  min-width: 150px;
  max-width: 150px;

  border-radius: 10px;
  margin-bottom: 5px;

  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.11) 0px, #c47bb7 40px, rgba(255, 255, 255, 0.11) 80px);
  
  background-color: rgba(221, 221, 221, 0);
  animation: shine-avatar 1.6s infinite alternate;
  animation: shine-lines 1.6s infinite alternate;
}

.skeleton-category{
  margin-top: 5px;
  border-radius: 10px;

  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.11) 0px, #c47bb7 40px, rgba(255, 255, 255, 0.11) 80px);
  
  background-color: rgba(221, 221, 221, 0);
  animation: shine-avatar 1.6s infinite alternate;
  animation: shine-lines 1.6s infinite alternate;
}



/* Footer */
footer {
  background-color: var(--color-medium-3);
  color: var(--color-light-2);
  text-align: center;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Navigation */
.inactive {
  display: none;
}

.inputSearchMargin{
  margin-top: 70px;
}

@keyframes shine-lines{
  0%{
    background-position: -100px
  }
  40%{
    background-position: 10px
  }
  100%{
    background-position: 150px
  }
}
 
  
 

@keyframes shine-avatar{
  0%{
    background-position: -100px + 52 + 16
  }
  40%{
    background-position: 10px + 52 + 16
  } 
  100%{
    background-position: 150px + 52 + 16
  }
}
@-webkit-keyframes shine-avatar{
  0%{
    background-position: -100px + 52 + 16
  }
  40%{
    background-position: 10px + 52 + 16
  } 
  100%{
    background-position: 150px + 52 + 16
  }
}


